<!-- Hero Section -->
<section class="hero-section">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <h1 class="animate-fade-in-down">Configuraciones de Bomba Chesterton Connect™</h1>
    <p class="animate-fade-in">Soluciones IIoT adaptadas a tus necesidades de monitoreo de bombas.</p>
    <a href="#configurations" class="cta-button" onclick="document.getElementById('configurations').scrollIntoView({ behavior: 'smooth' }); return false;">Ver configuraciones</a>
  </section>
  
  <!-- Configuraciones -->
  <section id="configurations">
    <h2>Opciones de Configuración</h2>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="card">
        <i class="fas fa-cogs fa-2x"></i>
        <h3>Configuración Básica</h3>
        <p>Monitorea presión, temperatura y vibración del sello o prensaestopas, además de la presión de succión y descarga del proceso.</p>
      </div>
      <div class="card">
        <i class="fas fa-chart-line fa-2x"></i>
        <h3>Configuración Mejorada</h3>
        <p>Incluye todas las funciones de la básica y añade monitores de vibración para el motor y la base de la bomba, permitiendo el cálculo del MTBF y detección de fugas.</p>
      </div>
      <div class="card">
        <i class="fas fa-shield-alt fa-2x"></i>
        <h3>Configuración Avanzada</h3>
        <p>Además de las características anteriores, incorpora monitoreo de humedad en fluidos de barrera, cajas de engranajes y rodamientos, así como monitoreo de potencia del motor.</p>
      </div>
    </div>
  </section>
  <section class="text-center mt-10">
    <a href="../../../../assets/ChestertonCloud/ES350655_Chesterton_Connect_System_Bro (1).pdf" download>
      <button class="cta-button">
        Descargar Catálogo <i class="fas fa-file-download ml-2"></i>
      </button>
    </a>
  </section>
  