<div class="mechanical-seals-container">
  <h1>Chesterton Connect™</h1>
  <div class="content-wrapper">
    <p>
      La solución Chesterton Connect™ es un sistema de monitoreo inalámbrico basado en condiciones que permite gestionar proactivamente la confiabilidad de los equipos. Este sistema, enfocado en bombas, recopila y organiza datos de sensores en visualizaciones intuitivas, facilitando la comprensión y detección de problemas operativos. Proporciona notificaciones de anomalías mediante alertas visuales, correos electrónicos automatizados y notificaciones push. Además, opera de forma independiente a las redes de la planta utilizando comunicaciones celulares globales, asegurando una seguridad y confiabilidad certificadas sin interferir en los procesos controlados .
    </p>
    <div class="image-section">
      <img src="../../../../assets/monitoreo/chesterton_connect_system_product_line-v2.WebP" alt="Monitoreo de equipos">
    </div>
  </div>
</div>


<div class="explore-section">
  <h2>Explore las opciones de Monitoreo Chesterton Connect:</h2>
  <ul>
    <li *ngFor="let seal of seals">
      <a [routerLink]="seal.link">{{ seal.title }}</a>
    </li>
  </ul>
</div>
