<div class="mechanical-seals-container">
    <h1>Monitoreo de Equipos en la Nube</h1>
    <div class="content-wrapper">
      <p>
        La línea de productos Chesterton Connect™ son herramientas de adquisición de datos de fácil uso que permiten a los operadores monitorear de manera segura y conveniente el estado de las bombas y otros equipos rotativos. Utilizando sensores de grado industrial resistentes, puertas de enlace y un panel de control en la nube fácil de usar, estos productos innovadores traen el monitoreo remoto al exigente mundo del rendimiento de equipos de hoy.
      </p>
      <div>
        <img src="../../../../assets/monitoreo/chesterton_connect_system_product_line-v2.WebP" alt="Monitoreo">
      </div>
    </div>
  </div>
  <div class="explore-section">
    <h2>Explore las opciones de Monitoreo de Equipos en la Nube Chesterton:</h2>
    <ul>
      <li *ngFor="let seal of seals">
        <a [routerLink]="seal.link">{{ seal.title }}</a>
      </li>
    </ul>
  </div>