<!-- Footer -->
<footer class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <a routerLink="/condiciones" class="conditions-link"><h1 class="logo-text"><span>Condiciones Generales de venta</span></h1></a>
        <div class="socials">
          <a href="https://web.facebook.com/AWChesterton?_rdc=1&_rdr"><img src="assets/facebook.png" alt="Facebook" class="social-icon"></a>
          <a href="https://x.com/AWChesterton"><img src="assets/twitter.png" alt="Twitter" class="social-icon"></a>
          <a href="https://www.linkedin.com/company/a--w--chesterton-company"><img src="assets/linkedin.png" alt="LinkedIn" class="social-icon"></a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      &copy; chesterton.cl | Diseñado por Chesterton Chile
    </div>
  </footer>