.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

nav a {
  color: #4a5568; /* text-gray-700 */
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #e53e3e; /* rojo */
}

.menu-item {
  color: #4a5568; /* text-gray-700 */
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  position: relative;
  font-size: 0.875rem; 
}

.menu-item:hover {
  color: #e53e3e; /* rojo */
  background-color: #fef2f2; /* gris claro */
}

.desktop-submenu {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1000;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.desktop-submenu .submenu-item {
  display: block;
  color: #ed3030; /* text-gray-700 */
  padding: 5px 10px;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.desktop-submenu .submenu-item:hover {
  color: #e14242; /* hover:text-blue-500 */
  background-color: #edf2f7; /* hover:bg-gray-100 */
}

/* Show submenu when parent is hovered */
.menu-item:hover + .desktop-submenu,
.desktop-submenu:hover {
  max-height: 500px; /* Adjust based on the number of submenu items */
  padding: 10px;
}

img.h-10 {
  height: 2rem; /* Reducir el tamaño del logo */
  margin-right: 0.5rem; /* Ajustar el margen derecho del logo */
}

/* Estilo básico para el menú móvil */
.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para los elementos del menú móvil */
.mobile-menu a, .mobile-menu button {
  padding: 1rem;
  text-align: left;
  transition: background-color 0.3s ease;
}

.mobile-menu a:hover, .mobile-menu button:hover {
  background-color: #fef2f2; /* Gris claro para contraste */
}
/* src/app/components/header/header.component.css */


/* Estilo para el submenú móvil */
.mobile-submenu {
  display: none;
  background-color: #fff;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mobile-menu .text-gray-700 {
  color: #4a5568; /* text-gray-700 */
}

.mobile-menu .text-gray-700:hover {
  color: #f56565; /* hover:text-red-500 */
}

/* Mostrar submenú cuando se hace clic en el botón */
.mobile-menu button.active + .mobile-submenu {
  display: block;
}



@media (max-width: 768px) {
  .md\\:hidden {
    display: none;
    width: 1.25rem; /* Reducir tamaño del ícono de menú móvil */
    height: 1.25rem; /* Reducir tamaño del ícono de menú móvil */
  }

  .md\\:flex {
    display: flex;
  }

  .md\\:hidden + div {
    display: none;
  }
}
