<div class="cgv-container">
  <header class="section">
    <h1>Más de 140 AÑOS DE HISTORIA</h1>
  </header>
<!-- "Video Section" -->
<div class="video-section">
  <iframe width="600" height="315" src="https://www.youtube.com/embed/0eBdPZlcw3E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
  <main>
    <section class="intro">
      
      <p> </p>
      <p>AW CHESTERTON COMPANY fue fundada en la Ciudad de Boston Massachusetts en 1884, con la fabricación de
        empaquetaduras, juntas para bombas y válvulas, sellos hidráulicos y productos para mantenimiento. Son 130 años
        que nos avalan a nivel mundial y 30 años en Chile con su filial Chesterton International Chile Ltda. liderando
        el sellado de fluidos industrial y minero.</p>
        <img src="assets/historia.png">
    </section>




    <section class="section">
      <h1>Visión, misión y nuestros valores fundamentales</h1>
      <p> La visión de Chesterton es ser reconocido como el mejor socio en el suministro de programas personalizados,
        servicio y apoyo con participación activa, y productos de alto rendimiento que ayuden a los clientes de procesos
        industriales a mejorar su rendimiento comercial y competitividad, a la vez que les ayudamos a ser más confiables,
        eficientes y a cumplir las normas.</p>
    </section>