.cgv-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.section {
    text-align: center;
    margin-bottom: 20px;
}

.section h1 {
    padding-bottom: 0.5em;
    font-size: 2em;
    color:#152373;
}
.section p {
    font-size: 1em;
    line-height: 1.5;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 1em;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    text-align: center;
    margin: 20px 0;
}

.intro img {
    margin-top: 2px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    align-items: center;
}

.intro p {
    padding-bottom: 2em;
    font-size: 1em;
    line-height: 1.5;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10rem auto;
}
.video-section {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si el contenedor tiene suficiente altura */
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
}

.video-section h2 {
    margin-bottom: 20px;
    color: #4515b6; /* Tailwind's red-700 color */
    font-size: 1.5rem; /* Tailwind's text-2xl size */
    font-weight: bold; /* Tailwind's font-bold */
}

.video-section iframe {
    max-width: 100%;
    border-radius: 8px;
}
.core-values {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .value {
    text-align: center;
    max-width: 200px;
  }
  
  .value img {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
  }
  
  .value h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .value p {
    font-size: 1rem;
    color: #555;
  }
  
