<div class="cgv-container">
    <header class="section">
      <h1>130 AÑOS DE HISTORIA</h1>
    </header>
  
    <main>
      <section class="intro">
        <img src="assets/historia.png">
        <p> </p>
        <p>AW CHESTERTON COMPANY fue fundada en la Ciudad de Boston Massachusetts en 1884, con la fabricación de empaquetaduras, juntas para bombas y válvulas, sellos hidráulicos y productos para mantenimiento. Son 130 años que nos avalan a nivel mundial y 30 años en Chile con su filial Chesterton International Chile Ltda. liderando el sellado de fluidos industrial y minero.</p>
            
    </section>


<!-- "Video Section" -->
<div class="video-section">
  <h2 class="text-center text-2xl font-bold mb-4 text-red-700"></h2>
  <video width="600" controls>
    <source src="path/to/your/video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<!-- "Video Section" -->
  