<div class="cgv-container">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <header class="section" >
    <h1>Más de 140 años de historia</h1>
  </header>
  <!-- "Video Section" -->
  <div class="video-section">
    <iframe width="600" height="315" src="https://www.youtube.com/embed/0eBdPZlcw3E" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <main>
    <section class="intro-section" data-aos="fade-up">
      <div class="intro-container">
        <div class="intro-text">
          <p>
            AW CHESTERTON COMPANY fue fundada en la Ciudad de Boston Massachusetts en 1884, con la fabricación de
            empaquetaduras, juntas para bombas y válvulas, sellos hidráulicos y productos para mantenimiento. Son más de 140
            años que nos avalan a nivel mundial y 40 años en Chile con su filial Chesterton International Chile Ltda.,
            liderando el sellado de fluidos industrial y minero.
          </p>
        </div>
        <div class="intro-image">
          <img src="../../../assets/140th-Logo_FINAL_RGB.webp" alt="140 años Chesterton">
        </div>
      </div>
    </section>
    




    <section class="section ">
      <h1>Nuestra Visión</h1>
      <p> La visión de Chesterton es ser reconocido como el mejor socio en el suministro de programas personalizados,
        servicio y apoyo con participación activa, y productos de alto rendimiento que ayuden a los clientes de procesos
        industriales a mejorar su rendimiento comercial y competitividad, a la vez que les ayudamos a ser más
        confiables,
        eficientes y a cumplir las normas.</p>
      <h1>Nuestra Misión</h1>
      <p>Empoderar a las industrias a nivel mundial con soluciones innovadoras y confiables que mejoren la eficiencia
        operativa, reduzcan el impacto ambiental y garanticen el éxito a largo plazo de nuestros clientes. Estamos
        comprometidos a ofrecer un valor excepcional a través de un soporte al cliente inigualable y una dedicación a
        los más altos estándares de calidad y seguridad.</p>
    </section>
    <section class="section">
      <h1>Valores Fundamentales</h1>
      <div class="core-values">
        <div class="value">
          <span class="material-icons">handshake</span>
          <h2>Responsabilidad</h2>
          <p>Reconocemos y asumimos la responsabilidad de nuestros compromisos y acciones.</p>
        </div>
        <div class="value">
          <span class="material-icons">lightbulb</span>
          <h2>Innovación</h2>
          <p>Buscamos nuevas ideas para servir mejor a nuestros clientes.</p>
        </div>
        <div class="value">
          <span class="material-icons" >gavel</span>
          <h2>Integridad</h2>
          <p>Actuamos con honestidad y honor, sin comprometer nuestros principios.</p>
        </div>
        <div class="value">
          <span class="material-icons">groups</span>
          <h2>Colaboración</h2>
          <p>Trabajamos en equipo, buscando aportes y valorando las contribuciones de los demás.</p>
        </div>
      </div>
    </section>
    