<div class="split-seals-container">
    <!-- Información General -->
    <section class="intro-section">
        <h1>Sellado de Equipos Rotatorios</h1>
        <p>El empaque para bombas es ideal para la fuga controlada que se requiere en ciertas aplicaciones. Chesterton
            ofrece una amplia experiencia en soluciones de empaque para bombas en equipos rotativos, incluyendo diseño,
            selección, instalación, pruebas y más. Nuestras soluciones de empaque innovadoras y premiadas reducen los
            requisitos de potencia de la bomba y resultan en menos fugas, lo que disminuye el costo total del ciclo de
            vida del sistema de bombeo.</p>
        <button class="back-button" onclick="window.history.back()">← Volver</button>
    </section>

    <!-- Lista de Productos (Ahora debajo de la información general) -->
    <section class="products-section">
        <h3>Sellado de Equipos Rotatorios Chesterton:</h3>

        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/1725a_1.WebP" alt="1755A">
            <div class="product-info">
                <h3>Chesterton 1725A</h3>
                <p>Alto rendimiento y no mancha</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/Product Datasheet_ 1725A Food Process Packing (English)_.pdf"
                    target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/1730_1.WebP" alt="1730">
            <div class="product-info">
                <h3>Chesterton 1730</h3>
                <p>Empaque de servicio general resistente a cáusticos</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/Product Datasheet_ 1730 Mill Pack (English).pdf"
                    target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/1723img.png" alt="1730">
            <div class="product-info">
                <h3>Chesterton 1727</h3>
                <p>Empaque de servicio general resistente a cáusticos</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/1727s.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/1730sc_1.WebP" alt="1735SC">
            <div class="product-info">
                <h3>Chesterton 1730SC</h3>
                <p>Empaque de núcleo de silicona que resiste movimiento radial del eje y vibración</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/1730SC e.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/1760_1.WebP" alt="1760">
            <div class="product-info">
                <h3>Chesterton 1760</h3>
                <p>Chesterton Ideal para bajas fricciones y mayores velocidades de eje</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/Product Datasheet_ 1760 High Speed Pump Packing (Espanol).pdf"
                    target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/1830_1.WebP" alt="1830 SSP">
            <div class="product-info">
                <h3>Chesterton 1830 SSP Empaque para bombas de lodo</h3>
                <p>Cumple con estrictas especificaciones para equipos de rotación</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/Ficha teìcnica - Empaquetadura 1830 SSP.pdf"
                    target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/370_1.WebP" alt="370">
            <div class="product-info">
                <h3>Chesterton 370</h3>
                <p>Mejor opción para altas temperaturas</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/Product Datasheet_ 370 Heat-Dissipating Packing (English).pdf"
                    target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/377_carbmax_1.WebP" alt="377 CarbMax">
            <div class="product-info">
                <h3>Chesterton 377 CarbMax</h3>
                <p>Empaque de fibra de carbono superior</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/Product Datasheet_ 377 CarbMax™ Packing (Spanish).pdf"
                    target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/477-1_1.WebP" alt="477-1">
            <div class="product-info">
                <h3>Chesterton 477-1</h3>
                <p>Agentes de bloqueo superiores</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/477-1s.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/477-1_1.WebP" alt="477-1">
            <div class="product-info">
                <h3>Chesterton 477-1T</h3>
                <p>Agentes de bloqueo superiores</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/477-1T espanÞol.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/cms2000_1.WebP" alt="CMS 2000 FP">
            <div class="product-info">
                <h3>CMS 2000 FP</h3>
                <p>Sistema de empaque inyectable para procesamiento de alimentos</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/Brochure_ Chesterton CMS 2000 Flushless Packing System (English).pdf"
                    target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/1830img.png" alt="DualPac 2211">
            <div class="product-info">
                <h3>Chesterton 1830 Grafito/PTFE</h3>
                <a href="../../../../../assets/selladoEquipoRotatorio/SDS_ 1830SSP (Espanol).pdf"
                    target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/1740img.png" alt="DualPac 2211">
            <div class="product-info">
                <h3>Chesterton 1740 Aramida Antiextrusión</h3>
                <a href="../../../../../assets/selladoEquipoRotatorio/Brochure_ DualPac 2211 Severe Slurry Packing (Español).pdf"
                    target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/dualpac_2211_1.WebP" alt="DualPac 2211">
            <div class="product-info">
                <h3>DualPac 2211</h3>
                <p>Combina ePTFE y aramida para empaque duradero</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/Brochure_ DualPac 2211 Severe Slurry Packing (Español).pdf"
                    target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/dualpac_2212_1.WebP" alt="DualPac 2212">
            <div class="product-info">
                <h3>DualPac 2212</h3>
                <p>Aramida con fibra de baja fricción</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/Product Datasheet_ DualPac 2212 (Español).pdf"
                    target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/superset_1.WebP" alt="SuperSet">
            <div class="product-info">
                <h3>SuperSet con SpiralTrac</h3>
                <p>Juegos de empaque con extrusor sólido para mayor duración</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/SuperSets.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/selladoEquipoRotatorio/amps_1.WebP" alt="The AMPS System">
            <div class="product-info">
                <h3>El sistema AMPS</h3>
                <p>Sistema de empaque mecánico automatizado</p>
                <a href="../../../../../assets/selladoEquipoRotatorio/Product Datasheet_ The AMPS System (Español).pdf"
                    target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
    </section>

</div>