<div class="split-seals-container">
    <!-- Información General -->
    <section class="intro-section">
        <h1>Sellos para Mezcladores/Agitadores</h1>
        <p>Diseños de sellos mecánicos para mezcladores y agitadores con caras aisladas de vibraciones que soportan
            condiciones de arrastre y cizallamiento que destruyen los sellos comunes. Nuestros sellos para mezcladores y
            agitadores también ofrecen excelente tolerancia al movimiento y capacidad para manejar cambios instantáneos
            de presión.</p>
    </section>

    <!-- Información Lateral -->
    <aside class="sidebar">
        <div class="sidebar-info">
            <h3>Uso de Tecnología de Sellos Divididos para Agitadores</h3>
            <p>Mejores Prácticas</p>
            <img src="../../../../../assets/sellos/agitator_mixer_442C.png" alt="Imagen del sello Mezcla/Agitadores">
            <p>Descubre por qué los sistemas de sellado que combinan sellos divididos de alto rendimiento con un
                avanzado dispositivo de fuerza centrífuga dividida pueden ofrecer un servicio más confiable y rentable
                que el empaque y los sellos sólidos.</p>
        </div>
    </aside>

    <!-- Lista de Productos (Ahora debajo de la información general) -->
    <section class="products-section">
        <h3>Sellos para Mezcladores/Agitadores Chesterton:</h3>
        <div class="product-card">
            <img src="../../../../../assets/sellos/442M_seal_thumb.png"
                alt="Chesterton 180 Heavy-Duty Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton 442M Sello Dividido para Mezcladores
                    <p>Sello Dividido que Se Adapta al Movimiento Radial y Axial del Eje para Mezcladores y Agitadores
                        Industriales
                </h4>
                <ul>
                    <li>Rendimiento superior para aplicaciones exigentes en mezcladores.</li>
                    <li>Capacidad máxima de manejo de sólidos.
                    </li>
                    <li>Reparación en campo disponible.</li>
                </ul>
                <button class="cta-button">Información del Producto</button>
            </div>
        </div>


        <div class="product-card">
            <img src="../../../../../assets/sellos/280_seal_thumb.png"
                alt="Chesterton 155 Standard Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton 280M Sello Dual de Cartucho para Mezcladores</h4>
                <p>Sello Dual Tolerante al Movimiento para Alta Confiabilidad en Entornos Desafiantes</p>
                <ul>
                    <li>Rendimiento superior para aplicaciones exigentes en mezcladores.</li>
                    <li>Capacidad máxima de manejo de sólidos.</li>
                </ul>
                <button class="cta-button">Información del Producto</button>
            </div>
        </div>



    </section>
</div>