<div class="split-seals-container">
    <!-- Información General -->
    <section class="intro-section">
        <h1>Sellado de Bridas</h1>
        <p>Es importante elegir correctamente las juntas de brida. Muchos factores deben ser considerados para ajustarse
            adecuadamente a una aplicación, incluyendo la seguridad, temperatura, presión, el medio a sellar, las
            condiciones del equipo, la versatilidad del producto y el costo.

            Chesterton ofrece una gama completa de juntas de brida que proporcionan propiedades altamente efectivas y
            una fiabilidad sólida. Nuestro personal experimentado ofrece soluciones comprobadas, integrales y, a menudo,
            innovadoras para una amplia variedad de aplicaciones, desde el sellado de agua hasta condiciones críticas de
            procesos de alta temperatura y alta presión. </p>

    </section>

    <!-- Lista de Productos (Ahora debajo de la información general) -->
    <section class="products-section">
        <h3>Sellos de bridas Chesterton:</h3>
        <div class="product-card">
            <img src="../../../../../assets/bridas/5500_1.WebP" alt="5500 Flange Bolt Disc Springs">
            <div class="product-info">
                <h4>Chesterton 5500, 5505H, 5505L Resortes de Disco para Pernos de Brida</h4>
                <p>Sistema de carga viva en brida para alta fiabilidad.</p>
                <a href="../../../../../assets/bridas/5500,5505L,5505H.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/bridas/camprofile_1.WebP" alt="Camprofile">
            <div class="product-info">
                <h4>Chesterton Camprofile</h4>
                <p>Junta de brida con excelente control de emisiones.</p>
                <a href="../../../../../assets/hidraulicos/LimpiadoresEnchaquetados.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/bridas/spiral_wond_1.WebP" alt="Spiral Wound">
            <div class="product-info">
                <h4>Chesterton Spiral Wound y Chesterton SteelTrap</h4>
                <p>Juntas semi-metálicas.</p>
                <a href="../../../../../assets/bridas/steelTrap and Enrolladas.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/bridas/steel_trap_1.WebP" alt="Steel Trap™">
            <div class="product-info">
                <h4>Caucho</h4>
                <ul>
                    <li>100 Caucho Rojo</li>
                    <li>119 Caucho con Tela Insertada</li>
                </ul>
                <a href="../../../../../assets/bridas/caucho.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/bridas/steel_trap_1.WebP" alt="Steel Trap™">
            <div class="product-info">
                <h4>Diagrama y Caucho Resistente al Aceite</h4>
                <ul>
                    <li>122NN Diafragma</li>
                    <li>124 Caucho Resistente al Aceite</li>
                </ul>
                <a href="../../../../../assets/bridas/diafragma.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/bridas/steel_trap_1.WebP" alt="Steel Trap™">
            <div class="product-info">
                <h4>PTFE y Fibra Sintética</h4>
                <ul>
                    <li>184 PTFE Expandido</li>
                    <li>195 Fibra Sintética</li>
                </ul>
                <a href="../../../../../assets/bridas/fibraSintetica.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/bridas/steel_trap_1.WebP" alt="Steel Trap™">
            <div class="product-info">
                <h4>Grafito</h4>
                <ul>
                    <li>198 Grafito Inhibido</li>
                    <li>199 Grafito Inhibido con Lámina Insertada</li>
                    <li>359 Grafito</li>
                </ul>
                <a href="../../../../../assets/bridas/garfito.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/bridas/steel_trap_1.WebP" alt="Steel Trap™">
            <div class="product-info">
                <h4>Fibra Sintética y Aramida</h4>
                <ul>
                    <li>450 Fibra Sintética</li>
                    <li>455 Fibra de Aramida</li>
                </ul>
                <p>Página: 60</p>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/bridas/steel_trap_1.WebP" alt="Steel Trap™">
            <div class="product-info">
                <h4>Fibra de Carbono y Grafito</h4>
                <ul>
                    <li>457 Fibra de Carbono</li>
                    <li>459 Grafito</li>
                </ul>
                <a href="../../../../../assets/bridas/fibra de Carbono y grafito.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/bridas/steel_trap_1.WebP" alt="Steel Trap™">
            <div class="product-info">
                <h4>Plancha Medioambiental</h4>
                <ul>
                    <li>553 Plancha Medioambiental</li>
                </ul>
                <a href="../../../../../assets/bridas/plancha medioambiental.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/bridas/steel_trap_1.WebP" alt="Steel Trap™">
            <div class="product-info">
                <h4>Plancha de Contención Ambiental (ECS)</h4>
                <ul>
                    <li>ECS-W (Blanco)</li>
                    <li>ECS-T (Tostado)</li>
                    <li>ECS-B (Azul)</li>
                </ul>
                <a href="../../../../../assets/bridas/plancha de contencion.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

    </section>
</div>