<div class="split-seals-container">
    <!-- Información General -->
    <section class="intro-section">
        <h1>Sellado de Bridas</h1>
        <p>Es importante elegir correctamente las juntas de brida. Muchos factores deben ser considerados para ajustarse
            adecuadamente a una aplicación, incluyendo la seguridad, temperatura, presión, el medio a sellar, las
            condiciones del equipo, la versatilidad del producto y el costo.

            Chesterton ofrece una gama completa de juntas de brida que proporcionan propiedades altamente efectivas y
            una fiabilidad sólida. Nuestro personal experimentado ofrece soluciones comprobadas, integrales y, a menudo,
            innovadoras para una amplia variedad de aplicaciones, desde el sellado de agua hasta condiciones críticas de
            procesos de alta temperatura y alta presión. </p>
            <button class="back-button" onclick="window.history.back()">← Volver</button>
    </section>

    <!-- Lista de Productos (Ahora debajo de la información general) -->
    <section class="products-section">
        <h3>Sellos de bridas Chesterton:</h3>
        <div class="product-card">
            <img src="../../../../../assets/bridas/5505h_1.WebP" alt="5500 Flange Bolt Disc Springs">
            <div class="product-info">
                <h4>Chesterton 5500, 5505H, 5505L Resortes de Disco para Pernos de Brida</h4>
                <p>Sistema de carga viva en brida para alta fiabilidad.</p>
                <a href="../../../../../assets/bridas/5500,5505L,5505H.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/bridas/camprofile_1.WebP" alt="Camprofile">
            <div class="product-info">
                <h4>Chesterton Camprofile</h4>
                <p>Junta de brida con excelente control de emisiones.</p>
                <a href="../../../../../assets/bridas/Camprofile - Technical Data - English.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/bridas/spiral_wond_1.WebP" alt="Spiral Wound">
            <div class="product-info">
                <h4>Chesterton Spiral Wound y Chesterton SteelTrap</h4>
                <p>Juntas semi-metálicas.</p>
                <a href="../../../../../assets/bridas/steelTrap and Enrolladas.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/bridas/CauchoRojo.webp" alt="Steel Trap™">
            <div class="product-info">
                <h4>100 Caucho Rojo</h4>
                <a href="../../../../../assets/bridas/100  pds.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/bridas/CauchoRojo.webp" alt="Steel Trap™">
            <div class="product-info">
                <h4>Chesterton 119 Caucho Rojo</h4>
                <a href="../../../../../assets/bridas/119  pds.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/bridas/122NN_img.png" alt="Steel Trap™">
            <div class="product-info">
                <h4>Chesterton 122 NN Diagrama</h4>

                <a href="../../../../../assets/bridas/122 NN  pds.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/bridas/359_img.png" alt="Steel Trap™">
            <div class="product-info">
                <h4>Chesterton 124 Caucho Resistente al Aceite</h4>

                <a href="../../../../../assets/bridas/124  pds.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/bridas/184_img.png" alt="Steel Trap™">
            <div class="product-info">
                <h4>Chesterton 184 Cinta de PTFE </h4>
                <a href="../../../../../assets/bridas/Junta 184.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/bridas/359_img.png" alt="Steel Trap™">
            <div class="product-info">
                <h4>Chesterton 359 Lamina de Grafito</h4>
                <a href="../../../../../assets/bridas/359      brochure.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/bridas/456_img.jpg" alt="Steel Trap™">
            <div class="product-info">
                <h4>Chesterton 456 Lamina de PTFE</h4>
                <a href="../../../../../assets/bridas/E-456.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/bridas/459_img.png" alt="Steel Trap™">
            <div class="product-info">
                <h4>Chesterton 459 Grafito</h4>

                <a href="../../../../../assets/bridas/459.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/bridas/planchaMedio_img.png" alt="Steel Trap™">
            <div class="product-info">
                <h4>Chesterton 553 Plancha Medioambiental</h4>
                <a href="../../../../../assets/bridas/553.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

        
        <div class="product-card">
            <img src="../../../../../assets/bridas/ECS_W_img.png" alt="Steel Trap™">
            <div class="product-info">
                <h4>Chesterton ECS-W Plancha de Contención Ambiental</h4>

                <a href="../../../../../assets/bridas/mbECSWl.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/bridas/ECS_W_img.png" alt="Steel Trap™">
            <div class="product-info">
                <h4>Chesterton ECS-B Plancha de Contención Ambiental</h4>

                <a href="../../../../../assets/bridas/mbECSBs.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/bridas/ECS_T_img.png" alt="Steel Trap™">
            <div class="product-info">
                <h4>Chesterton ECS-T Plancha de Contención Ambiental</h4>

                <a href="../../../../../assets/bridas/mbECSTs.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
            </div>
        </div>

    </section>
</div>