<div class="cgv-container">
    <header class="section">
      <h1>CONDICIONES GENERALES DE VENTA</h1>
    </header>
  
    <main>
      <section class="intro">
        <p>Las presentes Condiciones Generales de Venta (“CGV”) serán aplicables a todas ventas de productos comercializados por Chesterton International Chile Ltda. (“Chesterton” o “Vendedor”) a sus Clientes dentro del territorio de la República de Chile.</p>
        <p>El envío por parte del Cliente de una orden de compra implica su aceptación irrevocable a las presentes CGV las que se encuentran publicadas en el sitio web www.chesterton.cl, como asimismo su aceptación y conformidad con las futuras modificaciones que Chesterton pudiere introducir en ellas, las que no tendrán efecto retroactivo.</p>
        <p>Toda cotización efectuada por Chesterton se entiende efectuada bajo la condición de la aceptación total de las CGV de Chesterton.</p>
        <p>Cualquier contradicción o conflicto -total o parcial- entre lo establecido en las presentes CGV y lo establecido en una orden de compra debidamente aceptada por Chesterton, primarán estas CGV en todo aquello en que no exista dicha contradicción o conflicto. Asimismo, toda contradicción o conflicto entre estas CGV y cualquier otro instrumento (ej. contrato) en que conste el acuerdo entre el Vendedor y un Cliente sobre alguna materia regulada en las presentes CGV, primará y obligará a las partes lo dispuesto en dicho instrumento, manteniéndose vigente y aplicables estas CGV en todo aquello en que no exista dicha contradicción o conflicto.</p>
      </section>
  
      <section class="section">
        <h2>1. Perfeccionamiento de la Compraventa</h2>
        <p>Una vez recibida por Chesterton la orden de compra del Cliente, sea a través de correo electrónico o a través de otro medio, Chesterton confirmará por la misma vía su aceptación a los términos de la orden de compra o informará sobre la necesidad de que ésta sea modificada, en los términos indicados en dicha comunicación. Sólo una vez que la orden de compra (original o modificada) ha sido aceptada por Chesterton, se entenderá perfeccionada la compraventa de productos Chesterton, extinguiéndose cualquier derecho de retracto que pudiere ser titular el Cliente, debiendo éste proceder con la compra en los términos establecidos en la orden de compra y en las presente CGV.</p>
        <p>El Cliente garantiza que toda orden de compra recibida por Chesterton ha sido preparada, emitida y enviada por quienes cuentan con los poderes suficientes y las autorizaciones internas respectivas que los habilitan para comprometer y obligar al Cliente a efectuar la compra de los productos en la forma, cantidad, precio y demás condiciones establecidas tanto en la respectiva orden de compra como en estas CGV.</p>
        <p>Para todos los efectos legales y contractuales, cualquier recomendación de un especialista de Chesterton al Cliente, constituye una sugerencia, siendo de responsabilidad del Cliente evaluar, verificar y confirmar lo recomendado por el especialista. En ningún caso dichas recomendaciones serán consideradas parte de los términos y condiciones de la compraventa y, en consecuencia, no obligarán a Chesterton.</p>
        <p>El Cliente no podrá modificar los términos de la compraventa contenidos en la orden de compra aceptada por Chesterton, sin el consentimiento expreso y por escrito del Vendedor.</p>
      </section>
  
      <section class="section">
        <h2>2. Precio</h2>
        <p>Salvo acuerdo expreso de las partes, el precio de compraventa de los productos, (el “Precio”) será el establecido en pesos chilenos en la orden de compra debidamente aceptada por Chesterton. Este Precio incluye el Impuesto al Valor Agregado y el costo del transporte de los productos al lugar de entrega señalado en la orden de compra.</p>
        <p>El Precio no incluye otros gastos o servicios, ni incluyen ninguna clase de derecho sobre otros productos o servicios, o sobre uso de propiedad intelectual o industrial de Chesterton.</p>
        <p>Salvo acuerdo expreso y por escrito en contrario entre el Vendedor y el Cliente, toda cotización de productos tendrá una vigencia de 5 días hábiles a partir de su envío al Cliente.</p>
      </section>
  
      <section class="section">
        <h2>3. Forma de Pago</h2>
        <p>Salvo acuerdo expreso y por escrito en contrario entre el Vendedor y el Cliente, todo pago debe ser efectuado en pesos chilenos al contado dentro de 30 días hábiles desde la fecha de la facturación. La factura podrá reclamarse dentro de 8 días corridos a partir de su recepción de lo contrario se entenderá irrevocablemente aceptada.</p>
      </section>
  
      <section class="section">
        <h2>4. Envío de los Productos</h2>
        <p>Chesterton efectuará el transporte de los productos al lugar indicado en la orden de compra aceptada por Chesterton, por los medios y la ruta que el vendedor determine unilateralmente.</p>
        <p>El plazo de entrega será el establecido en la orden de compra aceptada por Chesterton los que serán expresados en días hábiles y se contarán desde el envío por parte de Chesterton del aviso de aceptación de la orden de compra del Cliente.</p>
        <p>Todos los plazos de entrega son aproximados y Chesterton no será responsable por la demora en la entrega de los productos. Dichos plazos se suspenderán por la ocurrencia de eventos de fuerza mayor o caso fortuito.</p>
      </section>
  
      <section class="section">
        <h2>5. Aceptación y conformidad de los Productos</h2>
        <p>Todo Producto despachado por Chesterton se presumirá recibido en perfectas condiciones y, en consecuencia, aceptado por el Cliente si (i) no es objetado en la entrega, de lo cual el Cliente deberá dejar constancia en la respectiva guía de despacho, o, (ii) habiéndose objetado en la forma antes indicada, no se hubiere notificado por escrito a Chesterton dicho reclamo dentro de las 48 horas siguientes a la entrega.</p>
        <p>Objetado que sea uno o más productos, el Cliente no podrá devolver los productos objetados sin autorización previa por escrito de Chesterton indicando los medios a través de los cuales podrá efectuarse dicha devolución.</p>
      </section>
  
      <section class="section">
        <h2>6. Traspaso del riesgo de pérdida o daño del producto</h2>
        <p>El riesgo por la pérdida y/o daño al Producto se transfiere al Cliente en el momento en que el Producto es entregado al transportista para su envío al Cliente.</p>
      </section>
  
      <section class="section">
        <h2>7. Garantía y Límite de Responsabilidad</h2>
        <h3>7.1. Garantía</h3>
        <p>Chesterton garantiza por el periodo de un año a contar de (i) la fecha de instalación del producto o (ii) de su primer uso, lo que ocurra primero, o por el período de 18 meses a contar del envío del producto a las bodegas del Cliente, si ninguna de las opciones anteriores ocurre primero, que los productos vendidos están libres de defectos en el diseño, en sus materiales o en su confección y manufactura.</p>
        <p>En consecuencia, el Cliente será responsable de hacer que cualquier aviso de su parte a Chesterton, reclamando la aplicación de dicha garantía, sea recibido por el Vendedor dentro de los plazos establecidos en el párrafo precedente, según sea el caso. Recibido que sea dentro de plazo el aviso, Chesterton dispondrá la revisión del producto por quien el Vendedor designe al efecto, a fin de determinar si la garantía cubre efectivamente al producto que el Cliente señala como defectuoso.</p>
        <p>Confirmada por Chesterton la procedencia de la garantía, el Vendedor podrá, a su sola elección, a) reparar el producto, b) reemplazarlo por otro producto; c) o bien devolver al Cliente el precio pagado por el producto cubierto por la garantía.</p>
        <p>La garantía aquí otorgada remplaza cualquier otra garantía de orden legal, sea ella expresa o implícita/tácita, en especial, excluye la acción de evicción a que se refiere el artículo 1847 del Código Civil. En consecuencia, el Cliente no tendrá derecho a ningún pago que no sea el establecido en la letra c) del párrafo precedente, como tampoco tendrá derecho a recibir cualquier tipo de indemnización por daños y perjuicio (incluidos perjuicios directos o indirectos, daño directo, lucro cesante, daño moral, pérdidas o perjuicios por paralización de su faena o proceso industrial o negocio) cuya causa el Cliente impute a un defecto de los productos adquiridos a Chesterton, entendiéndose que renuncia a cualquier acción de que pudiere ser titular para demandar el pago de una indemnización.</p>
        <p>En ningún caso Chesterton será responsable, por pérdidas, gastos, daños o perjuicios que el Cliente estime tener su causa en una recomendación de los especialistas de Chesterton. Chesterton no garantiza en caso alguno que los Productos adquiridos por un Cliente sean aptos para un uso particular y específico que pretenda darles el Cliente o que sean aptos para resolver un problema particular del Cliente.</p>
        <h3>7.2. Limitación de Responsabilidad</h3>
        <p>Sin perjuicio de lo anterior, la responsabilidad de Chesterton por cualquier incumplimiento de sus obligaciones emanadas de la venta de Productos a un Cliente estará limitada al precio de dicha venta, en caso de haberse pago íntegramente, o de la parte del precio efectivamente pagado por el cliente.</p>
      </section>
  
      <section class="section">
        <h2>8. Ley aplicable y Jurisdicción - Domicilio</h2>
        <p>Todo acto o contrato entre Chesterton y el Cliente se regirá e interpretará conforme a las leyes de la República de Chile. Todo conflicto entre las partes será resuelto por los Tribunales Ordinarios de Justicia de la ciudad y comuna de Santiago.</p>
        <p>Para todos los efectos legales, Vendedor y Cliente fijan su domicilio en la ciudad y comuna de Santiago, sometiéndose expresamente a la jurisdicción de los Tribunales Ordinarios de Justicia de esa ciudad y comuna.</p>
      </section>
    </main>
  </div>
  