<div class="mechanical-seals-container">
  <h1>Sellos Hidráulicos y Neumaticos</h1>
  <div class="content-wrapper">
    <p>
      Los sellos hidráulicos y neumáticos de Chesterton son diseñados para aplicaciones de alta velocidad y alta
      presión. Estos sellos son ideales para aplicaciones de cilindros hidráulicos y neumáticos, bombas, motores y
      válvulas. Los sellos hidráulicos y neumáticos de Chesterton están diseñados para proporcionar un rendimiento
      superior y una vida útil más larga en comparación con los sellos convencionales.
    </p>
    <div>
      <img src="../../../../assets/hidraulicos/Hydraulic_Pneumatic_Seals.png" alt="Sello Mecánico">
    </div>
  </div>
</div>
<div class="explore-section">
  <h2>Explore los Sellos Hidráulicos y Neumaticos de Chesterton:</h2>
  <ul>
    <li *ngFor="let seal of seals">
      <a [routerLink]="seal.link">{{ seal.title }}</a>
    </li>
  </ul>
</div>