<div class="split-seals-container">
    <!-- Información General -->
    <section class="intro-section">
        <h1>Sellos para Vástagos</h1>
        <p>La función de un sello de vástago es evitar el paso de fluido a lo largo de las superficies dinámicas
            (vástago o pistón) y estáticas (caja de empaquetadura) mientras un cilindro opera bajo diversas condiciones.

            Chesterton ofrece numerosos perfiles de sellos de vástago para elegir, incluyendo diseños en forma de U,
            apilados y de compresión, dependiendo de los requisitos de la aplicación y las condiciones de operación. El
            perfil de sello adecuado, combinado con un material de alto rendimiento, crea una solución de sellado
            altamente efectiva.</p>

    </section>

    <!-- Información Lateral -->
    <aside class="sidebar">
        <div class="sidebar-info">
            <h3>Material elastomérico AWC800</h3>
            <img src="../../../../../assets/hidraulicos/AWC800_main.png" alt="Imagen del Sello Cartucho">
            <p>El poliuretano termoendurecido de grado premium de Chesterton, AWC800, está diseñado para un sellado de
                alto rendimiento en aplicaciones hidráulicas, neumáticas y estáticas.</p>
        </div>
    </aside>

    <!-- Lista de Productos (Ahora debajo de la información general) -->
    <section class="products-section">
        <h3>Sellos Chesterton:</h3>
        <div class="product-card">
            <img src="../../../../../assets/hidraulicos/10K_22KN_thumb.png"
                alt="Chesterton 180 Heavy-Duty Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton 10K y 22KN Sello para vástagos</h4>
                <p>Sello en forma de U de acción simple para cilindros/prensas hidráulicas, diseñado para cero fugas.
                </p>
                <ul>
                    <li>Geometría especial del labio que ofrece un sellado hidráulico óptimo.</li>
                    <li>Polímeros termoestables y materiales resistentes al desgaste.</li>
                    <li>Producto mecanizado; flexibilidad para crear cualquier tamaño sin costo de herramientas.</li>
                </ul>
                <a href="../../../../../assets/hidraulicos/SellosVastagos_10K_22KN.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                  </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/hidraulicos/22KE_thumb.png"
                alt="Chesterton 155 Standard Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton 22KE Sello de Vástago y Pistón</h4>
                <p>Elimina fugas a baja presión.</p>
                <ul>
                    <li>Perfil de rastrillo positivo con cavidad cerrada; limpia eficazmente los contaminantes</li>
                    <li>Polímero termoendurecido; materiales duraderos y resistentes al desgaste</li>
                    <li>Producto mecanizado; flexibilidad para crear cualquier tamaño sin costo de herramientas.
                    </li>
                </ul>
                <a href="../../../../../assets/hidraulicos/SellosVastagos_22KE.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                  </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/hidraulicos/10K_22KN_thumb.png"
                alt="Chesterton 155 Standard Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton 23K Sello de Vástago y Pistón</h4>
                <p>Sello en forma de U de acción simple para equipos hidráulicos/neumáticos.</p>
                <ul>
                    <li>Diseñado específicamente para aplicaciones neumáticas.</li>
                    <li>Polímeros termoestables; superior resistencia al desgaste y a la extrusión en comparación con los materiales de goma.</li>
                    <li>Geometría única del labio que ofrece una fuerza de sellado óptima, reduciendo la fricción y ayudando a prolongar la vida útil del sello.
                    </li>
                </ul>
                <a href="../../../../../assets/hidraulicos/SellosVastagos_23K.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                  </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/hidraulicos/10K_22KN_thumb.png"
                alt="Chesterton 155 Standard Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton 20KD Sello de Vástago y Pistón</h4>
                <p>Sello en forma de U de acción simple para cilindros hidráulicos, diseñado para cero fugas.</p>
                <ul>
                    <li>Geometría especial del labio que ofrece un sellado hidráulico óptimo.</li>
                    <li>Polímeros termoestables y materiales resistentes al desgaste.</li>
                    <li>Producto mecanizado; flexibilidad para crear cualquier tamaño sin costo de herramientas.</li>
                </ul>
                <a href="../../../../../assets/hidraulicos/SellosVastagos_20KD.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                </a>
                
            </div>
        </div>
    </section>
</div>