<!-- "Carrusel Principal" -->
<div class="relative w-full h-96" (mouseenter)="pauseAutoplay()" (mouseleave)="startAutoplay()">
  <div *ngFor="let slide of slides; let i = index" [ngClass]="{'hidden': activeSlide !== i}" class="absolute inset-0 transition-opacity duration-500">
    <img [src]="slide" class="w-full h-full object-cover">
  </div>
  <button (click)="prevSlide()" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2">
    &#10094;
  </button>
  <button (click)="nextSlide()" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2">
    &#10095;
  </button>
  <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 flex space-x-2">
    <span *ngFor="let slide of slides; let i = index" (click)="goToSlide(i)" [ngClass]="{'bg-gray-800': activeSlide === i, 'bg-gray-400': activeSlide !== i}" class="cursor-pointer w-3 h-3 rounded-full"></span>
  </div>
</div>
<!-- "Carrusel Principal" -->

<!-- "Parrafo" -->
<div class="about-section p-8 flex items-center mb-16"> <!-- Increased padding and margin-bottom -->
  <div class="description flex-1 pr-8"> <!-- Increased padding-right -->
    <div class="historia-container">
      <h3 class="text-red-800 font-bold text-center text-6xl"> <!-- Increased text size -->
        Diseñamos y fabricamos soluciones en sellado de fluido de alta tecnología con servicio local,
       enfocado en la mejora operacional y reducción de costos de las diversas industrias del país.
      </h3>
    </div>
  </div>
</div>
<!-- "Parrafo" -->
<!-- "Soluciones"-->
<div class="solutions-section mt-12">
  <h2 class="text-center text-2xl font-bold mb-4 text-red-700">NUESTRAS SOLUCIONES</h2>
  <div class="relative">
    <div class="carousel-wrapper overflow-hidden">
      <div class="carousel-inner flex transition-transform duration-500" #solutionsCarousel>
        <div *ngFor="let solution of solutions" class="carousel-item flex-shrink-0 w-1/3 p-2">
          <a [routerLink]="['soluciones/',solution.id]" class="solution-card bg-white shadow-lg rounded-lg p-4">
            <div class="solution-info mt-2">
              <h3 class="text-xl font-semibold">{{ solution.title }}</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <button (click)="prevSlideSolution()" class="carousel-button absolute top-1/2 left-0 transform -translate-y-1/2 bg-red-600 text-white p-3 rounded-full shadow-md hover:bg-red-700 focus:outline-none">
      <span>&lt;</span>
    </button>
    <button (click)="nextSlideSolution()" class="carousel-button absolute top-1/2 right-0 transform -translate-y-1/2 bg-red-600 text-white p-3 rounded-full shadow-md hover:bg-red-700 focus:outline-none">
      <span>&gt;</span>
    </button>
    <!-- Indicadores del carrusel -->
    <div class="indicators flex justify-center mt-4">
      <div *ngFor="let solution of solutions; let i = index"
           class="indicator-line mx-1"
           [class.active]="i === activeSlideSolution">
      </div>
    </div>
  </div>
</div>


<!-- "Industrias"-->
<div class="industries-section mt-12">
  <h2 class="text-center text-2xl font-bold mb-4 text-red-700">Industrias</h2>
  <div class="relative">
    <div class="carousel-wrapper overflow-hidden">
      <div class="carousel-inner flex transition-transform duration-500" #industriesCarousel>
        <div *ngFor="let industry of industries; let i = index" class="carousel-item flex-shrink-0 w-1/3 p-2">
          <div class="industry-box bg-white shadow-lg rounded-lg p-4">
            <img [src]="industry.image" [alt]="industry.title" class="object-cover rounded-t-lg">
            <div class="industry-info mt-2">
              <h3 class="text-xl font-semibold">{{ industry.title }}</h3>
              <p class="text-gray-700">{{ industry.description }}</p>
            </div>
          </div>
        </div>
        <!-- Clonación de los primeros 2 items para el bucle infinito -->
        <div *ngFor="let industry of industries.slice(0, 2); let i = index" class="carousel-item flex-shrink-0 w-1/3 p-2">
          <div class="industry-box bg-white shadow-lg rounded-lg p-4">
            <img [src]="industry.image" [alt]="industry.title" class="object-cover rounded-t-lg">
            <div class="industry-info mt-2">
              <h3 class="text-xl font-semibold">{{ industry.title }}</h3>
              <p class="text-gray-700">{{ industry.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Indicadores del carrusel -->
    <div class="indicators flex justify-center mt-4">
      <div *ngFor="let industry of industries; let i = index"
           class="indicator-line mx-1"
           [class.active]="i === activeIndustrySlide">
      </div>
    </div>
  </div>
</div>






<!-- "Sucursales"-->
<div class="branches-section p-4 mt-12">
  <h2 class="text-center text-2xl font-bold mb-4 text-red-700">Sucursales</h2>
  <div class="branches-grid grid grid-cols-1 md:grid-cols-3 gap-4">
    <div *ngFor="let branch of branches" class="branch-card text-center">
      <img [src]="branch.image" alt="{{branch.title}}" class="w-full h-48 object-contain mx-auto">
      <h3 class="text-lg font-semibold text-red-700 mt-4">{{branch.title}}</h3>
      <p class="text-gray-800">{{branch.address}}</p>
      <p class="text-gray-800">{{branch.phone}}</p>
      <p class="text-gray-800">{{branch.email}}</p>
    </div>
  </div>
</div>
<!-- "Sucursales"-->

<!-- "Certificaciones"-->
<h2 class="text-center text-2xl font-bold mb-4 text-red-700">CERTIFICACIONES</h2>
<div class="certifications-section flex justify-center items-center gap-4">
  <img id="firstImage" src="assets/CertificacionISO.png" alt="Certificaciones" class="certification-image">
  <img id="secondImage" src="assets/Certificacion-SICEP.png" alt="Certificaciones" class="certification-image">
</div>
<!-- "Certificaciones"-->
