.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.h-96 {
  height: 24rem; /* 96 * 0.25rem */
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.transition-opacity {
  transition: opacity 0.5s;
}

.duration-500 {
  transition-duration: 0.5s;
}

.hidden {
  display: none;
}

.object-cover {
  object-fit: cover;
}

.bg-gray-800 {
  background-color: #2d3748;
}

.text-white {
  color: #ffffff;
}

.p-2 {
  padding: 0.5rem;
}

.left-0 {
  left: 0;
}

.top-1/2 {
  top: 50%;
}

.transform {
  transform: translateY(-50%);
}

.-translate-y-1/2 {
  transform: translateY(-50%);
}

.bottom-0 {
  bottom: 0;
}

.left-1/2 {
  left: 50%;
}

.-translate-x-1/2 {
  transform: translateX(-50%);
}

.flex {
  display: flex;
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--space-x-reverse));
}

.cursor-pointer {
  cursor: pointer;
}

.w-3 {
  width: 0.75rem;
}

.h-3 {
  height: 0.75rem;
}

.rounded-full {
  border-radius: 9999px;
}

.bg-gray-400 {
  background-color: #cbd5e0;
}

.about-section {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.description {
  flex: 1;
  padding-right: 1rem;
}

/* Assuming the missing selector is .some-class */
.some-class {
  flex: 1;
  padding-right: 1rem;
}

.historia-container {
  background-image: url('../../../assets/Picture6.jpg'); /* Corrected path to the image */
  background-size: cover; /* Cover the entire container */
  background-blend-mode: overlay; /* Blend the background color and image */
  padding: 1rem 0; /* Padding around the content, no padding on left and right */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  display: flex; /* Flexbox for centering content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin: 0; /* Remove any default margin */
}

.text-red-600 {
  color: #f8f4f4;
}
.font-bold {
  font-weight: bold;
}

.text-gray-800 {
  color: #1e242e;
}
.text-center {
  text-align: center;
}
.text-xl {
  font-size: 2rem; /* Adjust the size as needed */
}

.text-red-700 {
  color: #d04242;
}

/*industrias*/
.industries-section {
  padding: 20px;
  background-color: #f9f9f9;
}

.industries-section h2 {
  font-size: 2rem;
  color:#d04242;
  text-align: center;
  margin-bottom: 20px;
}

.industries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.industry-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: 10px;
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.industry-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(255,0,0,0.8) 0%, rgba(255,0,0,0.5) 50%, rgba(255,0,0,0) 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.industry-box:hover::before {
  opacity: 1;
}

.industry-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
  z-index: 0;
}

.industry-box:hover img {
  transform: scale(1.05);
}

.industry-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  z-index: 2;
}

.industry-box:hover .industry-info {
  opacity: 1;
}

.industry-info h3 {
  font-size: 1.5rem;
  color: #fff; /* Cambiar el color del texto a blanco para mejor contraste */
  margin-top: 10px;
}

.industry-info p {
  font-size: 1rem;
  color: #fff; /* Cambiar el color del texto a blanco para mejor contraste */
}
/* Estilo para la sección de certificaciones */
.certifications-section {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  gap: 1rem; /* Espacio entre las imágenes */
}

.certification-image {
  width: 180px; /* Ajusta el ancho según sea necesario */
  height: 180px; /* Ajusta la altura según sea necesario */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsión */
}

/* src/app/components/home/home.component.css */
.branches-section {
  padding: 1rem;
}

.branches-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .branches-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.branch-card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1rem;
}

.branch-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.branch-card h3 {
  margin: 0.5rem 0;
}

.branch-card p {
  margin: 0.25rem 0;
}

