/* Estilos Generales */
body {
  font-family: 'Roboto', sans-serif;
  margin-left: 1rem;
  margin-right: 1rem;
}

h-screen {
  height: 100vh; /* Asegura que el carrusel ocupe toda la altura de la pantalla */
  overflow: hidden; /* Oculta el desbordamiento horizontal */
}
html {
  scroll-behavior: smooth;
}

.relative {
  position: relative;
  overflow: hidden;
  
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #ffffff;
}

.text-gray-800 {
  color: #1e242e;
}

.text-red-600 {
  color: #f8f4f4;
}

.text-red-700 {
  color: #555050;
}

.text-2xl {
  font-size: 1.25rem;
}

.text-3xl {
  font-size: 1.5rem; /* Ajuste para los subtítulos */
}

.text-4xl {
  font-size: 2rem; /* Reducido para un aspecto más sobrio */
}

.text-xl {
  font-size: 1.25rem; 
}

.font-bold {
  font-weight: bold;
}

.bg-gray-800 {
  background-color: #2d3748;
}

.bg-gray-400 {
  background-color: #cbd5e0;
}

.bg-white {
  background-color: #ffffff;
}

.bg-red-600 {
  background-color: #d85151;
}

.bg-red-700 {
  background-color: #c34a4a;
}

.transition-opacity {
  transition: opacity 0.5s;
}

.duration-500 {
  transition-duration: 0.5s;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.w-3 {
  width: 0.75rem;
}

.h-3 {
  height: 0.75rem;
}

.rounded-full {
  border-radius: 9999px;
}

.object-cover {
  object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor */
  width: 100%;
  height: 100%;
}

.shadow-lg {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para el Carrusel Principal */
.carousel-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;

  transition: transform 0.5s ease-in-out;
  gap: 1rem; /* Espacio entre elementos */
  margin: 10px auto;
  padding-left: auto;
  padding-right: auto;
}

.carousel-item {
  flex-shrink: 0;
  width: 20%; /* Para mostrar 3 elementos por vez */
  padding: 0.5rem; /* Espacio entre elementos */
}
/* Media query for mobile devices */
@media (max-width: 480px) {
  .carousel-item {
    width: 100%; /* For showing 1 element per view */
    
  }
}

.carousel-button {
  background: linear-gradient(45deg, #4a4848, #262321); /* Degradado del botón */
  border: none;
  color: white; /* Color del texto */
  padding: 0.75rem; /* Tamaño del botón */
  text-align: center;
  text-decoration: none; /* Sin subrayado */
  display: inline-block;
  font-size: 1rem; /* Tamaño del texto */
  margin: 0.5rem;
  cursor: pointer; /* Cursor tipo puntero */
  border-radius: 50%; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.carousel-button:hover {
  transform: scale(1.1); /* Efecto de agrandamiento al pasar el ratón */
  background: linear-gradient(45deg, #7b7a7a, #7b7a7a); /* Cambio de color en el hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumentar la sombra al hacer hover */
}

.carousel-button:active {
  transform: scale(0.95); /* Efecto de presionado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Disminuir la sombra al hacer click */
}

.carousel-button span {
  font-size: 1.5rem; /* Tamaño del icono de flecha */
}

.carousel-button:focus {
  outline: none;
}

.indicators .indicator-line {
  width: 20px;
  height: 4px;
  background-color: #d1d5db; /* Gris (bg-gray-300) */
  transition: background-color 0.3s ease;
}

.indicators .indicator-line.active {
  background-color: #7b7a7a; /* Rojo brillante */
}

/* Sección de Nuestras Soluciones */
.solutions-section {
  margin-top: 10rem;
  background-color: #f0f0f0; /* Fondo gris claro */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre los elementos */
}

.solution-card {

  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(30, 147, 149, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #f9f1f1;
  margin: 2.5px auto;
  width: auto;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(216, 65, 65, 0.2);
}

.solution-info {
  position: relative;
  z-index: 1;
  padding: 30px;
  text-align: center;
  color: #333;
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

.solution-info h3 {
  font-size: 0.875rem;
  margin-top: 10px;
}


.icon-img {
  width: 44px; /* Ajusta el tamaño del ícono */
  height: 44px; /* Ajusta el tamaño del ícono */
}
/* Sección de Industrias */
.industries-section {
  text-align: center;
  background-color: #f5f5f5;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.industry-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  height: 300px; /* Fija una altura consistente */
  display: flex;
  flex-direction: column;
}

.industry-box img {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 200px; /* Ajusta esta altura según sea necesario */
  object-fit: cover; /* Asegura que la imagen se recorte correctamente */
  border-radius: 8px 8px 0 0;
}

.industry-info {
  padding: 10px;
  text-align: center;
  flex-grow: 1; /* Permite que el contenido crezca si es necesario */
}

.industry-info h3 {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #555050;
}


/* Sección de Introducción */
.intro-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(93, 81, 81, 0.6);
  background-blend-mode: darken;
  color: white;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ajuste la altura a 100% de la pantalla */
}

.intro-text {
  font-size: 2rem; /* Ajuste del tamaño del texto principal */
  font-weight: bold; /* Negrita para destacar */

  font-style: italic;
  padding-left: 10rem;
  padding-right: 10rem;
  line-height: 1.5; /* Espaciado entre líneas */
}

.intro-subtext {
  font-size: 1.25rem; /* Tamaño más pequeño para el subtítulo */
  font-weight: normal; /* Texto normal para el subtítulo */
  opacity: 0.8; /* Un poco menos opaco para diferenciarlo del título */
}

@media (max-width: 768px) {
  .intro-section {
    padding: 1.5rem; /* Reduce el padding para pantallas medianas */
  }

  .intro-text {
    font-size: 1.5rem; /* Reducir el tamaño de la fuente */
    padding-left: 1rem; /* Reduce padding lateral */
    padding-right: 1rem;
  }

  .intro-subtext {
    font-size: 1rem; /* Ajuste del tamaño del subtítulo */
  }
}

@media (max-width: 480px) {
  .intro-section {
    padding: 1rem; /* Reduce el padding en pantallas pequeñas */
    height: auto; /* Ajusta la altura automáticamente */
  }

  .intro-text {
    font-size: 1.25rem; /* Reduce aún más el tamaño del texto */
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .intro-subtext {
    font-size: 0.875rem; /* Ajuste adicional del tamaño del subtítulo */
  }
}

/* Sección de Sucursales */
.branches-section {
  padding: 1rem;
  margin-top: 4rem;
}

.branches-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem; /* Reduce el espacio entre las tarjetas */
  justify-content: center; /* Centra las tarjetas */
}

@media (min-width: 768px) {
  .branches-grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Ajusta el ancho mínimo de las tarjetas */
    gap: 0.2rem; /* Reduce el espacio entre las tarjetas en pantallas más grandes */
  }
}

.branch-card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 60%; /* Reduce el ancho de las tarjetas */
  overflow: hidden;
  padding: 1rem;
  margin: 0 auto; /* Centra las tarjetas dentro de la cuadrícula */
}

.branch-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.branch-card h3 {
  margin: 0.5rem 0;
}

.branch-card p {
  margin: 0.25rem 0;
}

/* Sección de Certificaciones */
.certificaciones-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  gap: 50px; /* Espacio entre los logos y el texto */
  width: 100%; /* Ocupar todo el ancho */
  margin: 0 auto; /* Centrar en el ancho disponible */
  box-sizing: border-box; /* Asegura que el padding no rompa el diseño */
}

.certificaciones-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.logo-certificacion {
  width: 200px; /* Tamaño de los logos */
  height: auto;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
  transition: transform 0.3s ease;
}

.logo-certificacion:hover {
  transform: scale(1.1); /* Efecto de agrandamiento */
}

.certificaciones-info {
  max-width: 600px; /* Limita el ancho del texto para mejor lectura */
  text-align: center; /* Centrar el texto */
}

.titulo-certificaciones {
  font-size: 2rem;
  font-weight: bold;
  color: #2d3748; /* Rojo destacado */
  margin-bottom: 16px;
}

.certificaciones-info ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #333;
  text-align: left; /* Para alinear las listas a la izquierda */
  margin: 0 auto; /* Centrar dentro del contenedor */
}

.certificaciones-info ul li {
  font-size: 1.2rem;
  line-height: 1.8;
}

.certificaciones-info p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .certificaciones-container {
    flex-direction: column; /* Cambia la disposición a columna en pantallas pequeñas */
    padding: 20px;
    gap: 20px; /* Reduce el espacio entre elementos */
  }

  .certificaciones-logos {
    justify-content: center;
    margin-bottom: 20px;
  }

  .certificaciones-info {
    max-width: 100%; /* Permite que el texto ocupe todo el ancho en móviles */
    text-align: center;
  }
}


/* Sección de Sobre Nosotros */
.about-section {
  text-align: center;
  background-color: #f5f5f5; /* Gris claro para un fondo más suave */
  margin: 0; /* Asegura que el texto esté bien centrado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para profundidad */
  width: 100%;
  height: 100vh; /* Ajusta la altura a 100% de la pantalla */
}

.about-section h3, 
.about-section p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.about-section.visible h3, 
.about-section.visible p {
    opacity: 1;
    transform: translateY(0);
}

/* Otros Estilos */
.main-container {
  margin-left: 2rem; /* Puedes ajustar a 2rem o más si necesitas más espacio */
  margin-right: 2rem; /* Puedes ajustar a 2rem o más si necesitas más espacio */
} 

.header-image {
  width: 100%;
  max-height: 600px; /* Limita la altura máxima de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsión */
  display: block;
  margin-bottom: 1rem;
}

.carousel-guide {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.carousel-guide .indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-guide .indicator.active {
  background-color: #020101; /* Color del indicador activo */
}

html {
  scroll-behavior: smooth;
}
