<div class="mechanical-seals-container">
    <h1>Juntas de Expansión</h1>
    <div class="content-wrapper">
      <p>
        Nuestros innovadores y premiados sellos mecánicos para bombas, agitadores, mezcladores y otros equipos rotativos
        simplifican la instalación, mejoran la fiabilidad y extienden el rendimiento del manejo de fluidos. Empresas de
        todo el mundo recurren a A.W. Chesterton Company por su experiencia en sellos mecánicos — en diseño, selección,
        instalación, servicio en campo y más.
      </p>
      <div>
        <img src="../../../../assets/sellos/SelloJunta.png" alt="Sello Mecánico">
      </div>
    </div>
  </div>
  <div class="explore-section">
    <h2>Explore los Sellos Mecánicos de Chesterton:</h2>
  </div>