<div class="split-seals-container">
    <!-- Información General -->
    <section class="intro-section">
        <h1>Dispositivos Auxiliares</h1>
        <p>La función de un sello de vástago es evitar el paso de fluido a lo largo de las superficies dinámicas
            (vástago o pistón) y estáticas (caja de empaquetadura) mientras un cilindro opera bajo diversas condiciones.

            Chesterton ofrece numerosos perfiles de sellos de vástago para elegir, incluyendo diseños en forma de U,
            apilados y de compresión, dependiendo de los requisitos de la aplicación y las condiciones de operación. El
            perfil de sello adecuado, combinado con un material de alto rendimiento, crea una solución de sellado
            altamente efectiva.</p>

    </section>

    <!-- Información Lateral -->
    <aside class="sidebar">
        <div class="sidebar-info">
            <h3>Material elastomérico AWC800</h3>
            <img src="../../../../../assets/hidraulicos/AWC800_main.png" alt="Imagen del Sello Cartucho">
            <p>El poliuretano termoendurecido de grado premium de Chesterton, AWC800, está diseñado para un sellado de
                alto rendimiento en aplicaciones hidráulicas, neumáticas y estáticas.</p>
        </div>
    </aside>

    <!-- Lista de Productos (Ahora debajo de la información general) -->
    <section class="products-section">
        <h3>Dispositivos Auxiliares Chesterton:</h3>
        <div class="product-card">
            <img src="../../../../../assets/hidraulicos/10K_22KN_thumb.png"
                alt="Chesterton 180 Heavy-Duty Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton 9K Anillo Antiextruendo</h4>
                <p>Evita la extrusión de sellos hidráulicos.</p>
                <p>Los anillos antiextruendo de Chesterton, con frecuencia conocidos como anillos de respaldo, estan diseñados para evitar que sobresalgan sellos u O-rings en las holguras de los esquipos al estar bajo presión</p>
                <button class="cta-button">Información del Producto</button>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/hidraulicos/22KE_thumb.png"
                alt="Chesterton 155 Standard Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton 16K y 17K Tiras de bandas de desgaste</h4>
                <p>Tiras de desgaste reemplazables de alto rendimiento para prensas.</p>
                <p>Las tiras de desgaste impiden el raspado de las superficies de metal, y reducen el movimiento, extendiendo de este modo la vida útil de los sellos y equipos..</p>
                <button (click)="downloadPDF()" class="cta-button">Descargar PDF</button>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/hidraulicos/10K_22KN_thumb.png"
                alt="Chesterton 155 Standard Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton 18K y 19K Bandas de desgaste</h4>
                <p>Bandas de desgaste reemplazables de alto redimiento para cilindros</p>
                <p>Estas bandas de desgaste bipartidos reemplazables evitan el contacto entre las superficies de metal de las partes móviles y ayudan a prolongar la vida útil del equipo.</p>
                <button (click)="downloadPDF()" class="cta-button">Descargar PDF</button>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/hidraulicos/10K_22KN_thumb.png"
                alt="Chesterton 155 Standard Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton WR Anillos de desgaste a la medida</h4>
                <p>Bandas de desgaste de reemplazo a la medida </p>
                <p>Los anillos de desgaste son la solucíon a las costosas reparaciones y remaquinado de cilindros de equipos hidráulicos o neumáticos.</p>
                <button (click)="downloadPDF()" class="cta-button">Descargar PDF</button>
            </div>
        </div>
    </section>
</div>