<section class="clientes-section">
  <h2 class="clientes-title">Nuestros Clientes</h2>
  <p class="clientes-subtitle">Empresas que han confiado en nuestra tecnología y soluciones industriales</p>
  
  <div class="clientes-logos">
        <div class="cliente-logo"><img src="../../../assets/clientes/sqm.png" alt="sqm" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientes/bhp-logo-png_seeklogo-320957.png" alt="BHP" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientes/logoCodelco.png" alt="Codelco" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientes/Enel_logo_2016.png" alt="Enel" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientes/teck.png" alt="Teck" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientes/Logo-Minera-Collahuasi.jpg" alt="Escondida" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientes/aes.png" alt="aes" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientes/images.jpeg" alt="engie" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientes/logo-amsa.png" alt="AMSA" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientes/sierra-gorda-nueva.png.webp" alt="" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientesSur/arauco.png" alt="Rio Tinto" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientesSur/asmar.png" alt="Rio Tinto" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientesSur/ccu.png" alt="Rio Tinto" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientesSur/cmpc.png" alt="Rio Tinto" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientesSur/colbun.png" alt="Rio Tinto" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientesSur/danisco.png" alt="Rio Tinto" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientesSur/fierdo.jpg" alt="Rio Tinto" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientesSur/hidromaule.png" alt="Rio Tinto" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientesSur/iansagro.png" alt="Rio Tinto" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientesSur/nestle.png" alt="Rio Tinto" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientesSur/oxiquim.jpg" alt="Rio Tinto" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientesSur/oxy.png" alt="Rio Tinto" /></div>
    <div class="cliente-logo"><img src="../../../assets/clientesSur/unnamed.png" alt="Rio Tinto" /></div>
  </div>
</section>
