<div class="mechanical-seals-container">
    <h1>Empaquetaduras Trenzadas y Láminas</h1>
    <div class="content-wrapper">
      <p>
        Chesterton es un fabricante y distribuidos internacional de dispositivos de sellado de alto rendimiento, que incluyen empaques para bombas y válvulas, selladores de bombas, tecnología para cargas dinámicas, juntas en láminas, selladores de uniones y juntas semimetálicas para una gran variedad de aplicaciones
      </p>
      <div>
        <img src="../../../../assets/sellos/SelloJunta.png" alt="Sello Mecánico">
      </div>
    </div>
  </div>
  <div class="explore-section">
    <h2>Explore las Empaquetaduras Trenzadas y Láminas de Chesterton:</h2>
    <ul>
      <li *ngFor="let seal of seals">
        <a [routerLink]="seal.link">{{ seal.title }}</a>
      </li>
    </ul>
  </div>