<div class="mechanical-seals-container">
    <h1>}Empaquetaduras Mecanicas </h1>
    <div class="content-wrapper">
      <p>
        Nuestros innovadores y premiados sellos mecánicos para bombas, agitadores, mezcladores y otros equipos rotativos
        simplifican la instalación, mejoran la fiabilidad y extienden el rendimiento del manejo de fluidos. Empresas de
        todo el mundo recurren a A.W. Chesterton Company por su experiencia en sellos mecánicos — en diseño, selección,
        instalación, servicio en campo y más.
      </p>
      <div>
        <img src="../../../../assets/sellos/mechanical_seals_copy.png" alt="Sello Mecánico">
      </div>
    </div>
  </div>
  <div class="explore-section">
    <h2>Explore los Sellos Hidráulicos y Neumaticos de Chesterton:</h2>
    <ul>
      <!-- <li *ngFor="let seal of seals">
        <a [routerLink]="seal.link">{{ seal.title }}</a>
      </li> -->
    </ul>
  </div>