<div class="split-seals-container">
    <!-- Información General -->
    <section class="intro-section">
        <h1>Sellos de Componente</h1>
        <p>Los sellos de Componente avanzados de Chesterton ofrecen una opción de sellado reemplazable y de bajo costo,
            al
            tiempo que brindan calidad y fiabilidad. Diseñados para adaptarse a bombas tipo DIN, ISO y ANSI, junto con
            otras bombas populares, estos sellos rotativos eliminan el desgaste de la bomba y del manguito del eje y
            cuentan con capacidad de autoalineación. Todas las piezas desgastables, las caras de los sellos, las juntas
            tóricas, los tornillos y los resortes se pueden reemplazar fácilmente a bajo costo. Con décadas de
            experiencia, los especialistas en sellado de Chesterton pueden ayudar a su empresa a instalar estos sellos
            de manera óptima para un rendimiento confiable y duradero.</p>
            <button class="back-button" onclick="window.history.back()">← Volver</button>
    </section>

    <!-- Información Lateral -->
    <aside class="sidebar">
        <div class="sidebar-info">
            <h3>¿Por Qué Usar un Sello de Componente?</h3>
            <p>Eficiencia en Costos</p>
            <img src="../../../../../assets/sellos/component-seal.png" alt="Imagen del sello Mezcla/Agitadores">
            <p>Los sellos de componentes son la opción rentable en muchas operaciones industriales. A diferencia de los
                sellos de cartucho, los sellos de componentes requieren un montaje separado de las partes rotativas y
                estacionarias en el eje del equipo o en el manguito del eje.</p>
        </div>
    </aside>

    <!-- Lista de Productos (Ahora debajo de la información general) -->
    <section class="products-section">
        <h3>Sellos de Componente Chesterton:</h3>
        <div class="product-card">
            <img src="../../../../../assets/sellos/891_seal_thumb.png"
                alt="Chesterton 180 Heavy-Duty Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton 891 Sello Interno Rotativo Simple</h4>
                <p>Sello de Alto Rendimiento de un Solo Componente</p>
                <ul>
                    <li>Diseñado para adaptarse a la mayoría de bombas ISO, DIN y ANSI.</li>
                    <li>Opera a hasta 42 BAR (600 PSI).</li>
                    <li>Capacidad de autoalineación.</li>
                </ul>
                <a href="../../../../../assets/mecanicos/componentes/891.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                  </a>
            </div>
        </div>


        <div class="product-card">
            <img src="../../../../../assets/sellos/491DIN_seal_thumb.png"
                alt="Chesterton 155 Standard Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton 491 DIN Sello Interno Rotativo Simple</h4>
                <p>Sello de Componente Único para Propósitos Generales</p>
                <ul>
                    <li>Sello rotativo flexible para una amplia variedad de aplicaciones.</li>
                    <li>Alto rendimiento para aplicaciones exigentes.</li>
                    <li>Compatible con cámaras de sellado pequeñas.</li>
                </ul>
                <a href="../../../../../assets/mecanicos/componentes/491.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                  </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/sellos/440_Seal_thumb.png"
                alt="Chesterton 155 Standard Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton 440/440M Sello Externo de Componente Único</h4>
                <p>Diseñado para Servicios Corrosivos y Aplicaciones Sin Metales</p>
                <ul>
                    <li>Diseñado para reemplazar sellos metálicos exóticos y costosos</li>
                    <li>Perfecto para ejes con revestimiento de vidrio.</li>
                    <li>Abrazadera de anillo de transmisión de una sola pieza para fácil instalación y posicionamiento
                    </li>
                </ul>
                <a href="../../../../../assets/mecanicos/componentes/440.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                  </a>
            </div>
        </div>
        <div class="product-card">
            <img src="../../../../../assets/sellos/SAS_thumb.png"
                alt="Chesterton 155 Standard Single Cartridge Seal">
            <div class="product-info">
                <h4>Anillos Selladores Estacionarios</h4>
                <p>
                    Instalación Fácil; Compensa el Desalineamiento del Equipo</p>
                <ul>
                    <li>Sello de cara estacionaria autoalineante.</li>
                    <li>Diseñado para usarse con las caras rotativas de Chesterton.</li>
                    <li>Reduce el tiempo de instalación y aumenta la fiabilidad.
                    </li>
                </ul>
                <a href="../../../../../assets/mecanicos/componentes/Anillos.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                  </a>
            </div>
        </div>
    </section>
</div>