<div class="split-seals-container">
    <!-- Información General -->
    <section class="intro-section">
        <h1>Sellos Especializados</h1>
        <p>Chesterton ofrece una variedad de sellos especializados diseñados para equipos específicos o para
            aplicaciones difíciles de sellar en diversas industrias.</p>
            <button class="back-button" onclick="window.history.back()">← Volver</button>
    </section>
    <!-- Lista de Productos (Ahora debajo de la información general) -->
    <section class="products-section">
        <h3>Sellos Especializados Chesterton:</h3>
        <div class="product-card">
            <img src="../../../../../assets/sellos/HVS_seal_thumb.png"
                alt="Chesterton 180 Heavy-Duty Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton HVS—Sello de Cartucho para Alta Viscosidad</h4>
                <p>Solución de Sellado para Bombas de Alta Viscosidad</p>
                <ul>
                    <li>Sellado para alta viscosidad.</li>
                    <li>Capaz de funcionar en seco.</li>
                    <li>Reparación en campo disponible.</li>
                </ul>
                <a href="../../../../../assets/mecanicos/especializados/HVS.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                  </a>
            </div>
        </div>


        <div class="product-card">
            <img src="../../../../../assets/sellos/directfit_thumb.png"
                alt="Chesterton 155 Standard Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton Serie DirectFit—Sellos Simples y Duales.</h4>
                <p>Sellos Diseñados para Adaptarse a Bombas Sulzer™ APP/APT y NPP/NPT*/p>
                <ul>
                    <li>Se adaptan a las bombas Sulzer™* APP/APT y NPP/NPT sin modificaciones en la bomba.</li>
                    <li>Disponibles en configuraciones de sello simple y dual.</li>
                    <li>Reparación en campo disponible.</li>
                </ul>
                <a href="../../../../../assets/mecanicos/especializados/DirectFit.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                  </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/sellos/442PR_seal_thumb.png"
                alt="Chesterton 155 Standard Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton 442PR Sello con Anillo de Bombeo Dividido</h4>
                <p>Máxima Eliminación de Calor en Servicios de Agua Caliente</p>
                <ul>
                    <li>Anillo de bombeo integral para una circulación superior del fluido.</li>
                    <li>Diseñado para fluidos a altas temperaturas.</li>
                    <li>Reparación en campo disponible</li>
                    <li>Certificado según NSF / ANSI 61</li>
                </ul>
                <a href="../../../../../assets/mecanicos/especializados/442PR.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                  </a>
            </div>
        </div>

        <div class="product-card">
            <img src="../../../../../assets/sellos/GBS_thumb.png" alt="Chesterton 155 Standard Single Cartridge Seal">
            <div class="product-info">
                <h4>Chesterton Sello General para Rodamientos (GBS)</h4>
                <p>Sello de Cara Positiva para Protección de Rodamientos en Aplicaciones de Alta Dureza.</p>
                <ul>
                    <li>Sellos de contacto positivo que minimizan los contaminantes atmosféricos.</li>
                    <li>Rompe el ciclo de tiempos de inactividad causados por fallos relacionados con sellos de labio.</li>
                    <li>Diseñado para aplicaciones de alta carga.
                    </li>
                </ul>
                <a href="../../../../../assets/mecanicos/especializados/GBS.pdf" target="_blank">
                    <button class="cta-button">Información del producto</button>
                  </a>
            </div>
        </div>
    </section>
</div>